<div data-controller="message" class="input-group">
  <%= text_field_tag :message, "", id: "message-input", placeholder: "Write a message ...", data: { message_target: "content" }, class: 'form-control'  %>
  <%= hidden_field_tag :token, token, data: { message_target: "token" }%>
  <%= hidden_field_tag :recipient_id, recipient.id, data: { message_target: "recipientId" }%>
  <div class="input-group-append">
    <%= submit_tag "Send", class: "btn btn-primary chat-send-button", data: { action: "message#send" } %>
  </div>
</div>
